---
// import projects from "../../collections/projects.json";
import { getCollection } from "astro:content";
import Button from "../button.astro";
import Project from "../project.astro";

const { count } = Astro.props;

const allProjects = await getCollection("project");

const sortedProjects = allProjects
  .map((project) => {
    return {
      id: project.id,
      ...project.data,
      order: project.data.order || 9999,
    };
  })
  .sort((a, b) => a.order - b.order);
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    My Projects
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Here are some of my recent projects. I'm always working on something new, so
    check back often!
  </p>
  <div
    class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7 mt-7"
  >
    {
      sortedProjects.map((project) => {
        return (
          <Project
            name={project.name}
            description={project.description}
            image={project.cover}
            url={project.deployment}
            link={`/project/${project.id}`}
          />
        );
      })
    }
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="View All My Projects" link="/projects"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="#fff"
          d="M8.75 13A2.25 2.25 0 0 1 11 15.25v3.5A2.25 2.25 0 0 1 8.75 21h-3.5A2.25 2.25 0 0 1 3 18.75v-3.5A2.25 2.25 0 0 1 5.25 13zm10-10A2.25 2.25 0 0 1 21 5.25v3.5A2.25 2.25 0 0 1 18.75 11h-3.5A2.25 2.25 0 0 1 13 8.75v-3.5A2.25 2.25 0 0 1 15.25 3z"
          class="duoicon-secondary-layer"
          opacity="0.3"></path><path
          fill="#fff"
          d="M8.75 3A2.25 2.25 0 0 1 11 5.25v3.5A2.25 2.25 0 0 1 8.75 11h-3.5A2.25 2.25 0 0 1 3 8.75v-3.5A2.25 2.25 0 0 1 5.25 3z"
          class="duoicon-primary-layer"></path><path
          fill="#fff"
          d="M18.75 13A2.25 2.25 0 0 1 21 15.25v3.5A2.25 2.25 0 0 1 18.75 21h-3.5A2.25 2.25 0 0 1 13 18.75v-3.5A2.25 2.25 0 0 1 15.25 13z"
          class="duoicon-secondary-layer"
          opacity="0.3"></path></svg
      ></Button
    >
  </div>
</section>
